@use 'sass:math';
@use 'sass:map';
$breakpoints: (
    'xs': 'screen and (min-width: 375px)',
    'md': 'screen and (min-width: 768px)',
);

@mixin mq($breakpoint: 'md') {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}

$baseFontSize: 16;
@function rem($pixels) {
    @return math.div($pixels, $baseFontSize) * 1rem;
}

$baseWidth: 1600;
@function width($pixels) {
    @return math.div($pixels, $baseFontSize) * 100vw;
}

@function clamped($min-px, $max-px, $min-bp, $max-bp) {
    $slope: math.div($max-px - $min-px, $max-bp - $min-bp);
    $slope-vw: $slope * 100;
    $intercept-rems: rem($min-px - $slope * $min-bp);
    $min-rems: rem($min-px);
    $max-rems: rem($max-px);
    @return clamp(
        #{$min-rems},
        #{$slope-vw}vw + #{$intercept-rems},
        #{$max-rems}
    );
}

@function vw($px, $bp) {
    $vw: math.div($px, $bp) * 100;
    @return (#{$vw}vw);
}

:root{
    --base: #353786;
    --black: #000;
    --blue: #5A5C9C;
    --white: #fff;
    --purple : #BEBED8;
    --purple1: #EFEFF5;
    --purple2: #9A9BC2;
    --purple3: #E7E7F0;
    --purple4: #DEDEEB;
    --purple5: #9293BD;
    --purple6: #F5F5F9;
    --purple7: #F9F9FB;
    --purple8: #C8C9DE;
    --gapDefaut: 20px;
    --wp--style--block-gap: 20px;
    @include mq(md) {
        --gapDefaut: 40px;
        --wp--style--block-gap: 40px;
    }
}

$font-family-base: "Zen Kaku Gothic Antique", sans-serif;
$font-family-en: "IBM Plex Sans JP", sans-serif;
$font-family-noto: "Noto Sans JP", sans-serif;

%fz-10 {
    font-size: rem(10);
}

%fz-11 {
    font-size: rem(10);
    @include mq(md) {
        font-size: clamped(10, 11, 768, 1280);
    }
}

%fz-12 {
    font-size: rem(10);
    @include mq("md") {
        font-size: clamped(10, 12, 768, 1280);
    }
}

%fz-13 {
    font-size: rem(12);
    @include mq("md") {
        font-size: clamped(12, 13, 768, 1280);
    }
}

%fz-14 {
    font-size: rem(12);
    @include mq("md") {
        font-size: clamped(12, 14, 768, 1280);
    }
}

%fz-15 {
    font-size: rem(12);
    @include mq("md") {
        font-size: clamped(12, 15, 768, 1280);
    }
}

%fz-16 {
    font-size: rem(14);
    @include mq("md") {
        font-size: clamped(14, 16, 768, 1280);
    }
}

%fz-17 {
    font-size: rem(14);
    @include mq("md") {
        font-size: clamped(14, 17, 768, 1280);
    }
}

%fz-18 {
    font-size: rem(16);
    @include mq("md") {
        font-size: clamped(16, 18, 768, 1280);
    }
}

%fz-19 {
    font-size: rem(16);
    @include mq("md") {
        font-size: clamped(16, 19, 768, 1280);
    }
}

%fz-20 {
    font-size: rem(16);
    @include mq("md") {
        font-size: clamped(16, 20, 768, 1280);
    }
}

%fz-21 {
    font-size: rem(16);
    @include mq("md") {
        font-size: clamped(16, 21, 768, 1280);
    }
}

%fz-22 {
    font-size: rem(18);
    @include mq("md") {
        font-size: clamped(18, 22, 768, 1280);
    }
}

%fz-23 {
    font-size: rem(18);
    @include mq("md") {
        font-size: clamped(18, 23, 768, 1280);
    }
}

%fz-24 {
    font-size: rem(20);
    @include mq("md") {
        font-size: clamped(20, 24, 768, 1280);
    }
}

%fz-25 {
    font-size: rem(20);
    @include mq("md") {
        font-size: clamped(20, 25, 768, 1280);
    }
}

%fz-26 {
    font-size: rem(20);
    @include mq("md") {
        font-size: clamped(20, 26, 768, 1280);
    }
}

%fz-27 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 27, 768, 1280);
    }
}

%fz-28 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 28, 768, 1280);
    }
}

%fz-29 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 29, 768, 1280);
    }
}

%fz-30 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 30, 768, 1280);
    }
}

%fz-31 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 31, 768, 1280);
    }
}

%fz-32 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 32, 768, 1024);
    }
}

%fz-33 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 33, 768, 1280);
    }
}

%fz-34 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 34, 768, 1280);
    }
}

%fz-35 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 35, 768, 1280);
    }
}

%fz-36 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 36, 768, 1280);
    }
}

%fz-37 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 37, 768, 1280);
    }
}

%fz-38 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 38, 768, 1280);
    }
}

%fz-39 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 39, 768, 1280);
    }
}

%fz-40 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 40, 768, 1280);
    }
}

%fz-41 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 41, 768, 1280);
    }
}

%fz-42 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 42, 768, 1280);
    }
}

%fz-43 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 43, 768, 1280);
    }
}

%fz-44 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 44, 768, 1280);
    }
}

%fz-45 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 45, 768, 1280);
    }
}

%fz-46 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 46, 768, 1280);
    }
}

%fz-47 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 47, 768, 1280);
    }
}

%fz-48 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 48, 768, 1280);
    }
}

%fz-49 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 49, 768, 1280);
    }
}

%fz-50 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(26, 50, 768, 1280);
    }
}

%fz-51 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 51, 768, 1280);
    }
}

%fz-52 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 52, 768, 1280);
    }
}

%fz-53 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 53, 768, 1280);
    }
}

%fz-54 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 54, 768, 1280);
    }
}

%fz-55 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 55, 768, 1280);
    }
}

%fz-56 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 56, 768, 1280);
    }
}